<div class="row narrow section-intro has-bottom-sep">
    <div class="col-full text-center">
        <h3>About</h3>
        <h1>More About Me</h1>
        <p class="lead">Me. All About Me.</p>
    </div>
</div>
<div class="row about-content">
    <div class="col-six tab-full left">
        <h3>Hola.</h3>
        <p>Hello. Welcome to this football blog. I really hope you enjoy it.</p>
        <p>
            In this, you will see my perspective on certain managers as well as tactics, potential transfers as well as some fantasy league stuff. All based on my opinion and ideas on how to solve certain issues. Also, I will most likely be making team of the seasons as well as transfers of the seasons 11s potentially. Moreover, it is very likely that i will write about transfers that didn't really work out and explain why they didn't work out.
        </p>
    </div>
    <div class="col-six tab-full right">
        <h3>I've Got Some skills.</h3>
        <ul class="skill-bars">
            <li>
                <div class="progress percent85"><span>85%</span></div>
                <strong>Football Intelligence</strong>
            </li>
            <li>
                <div class="progress percent89"><span>89%</span></div>
                <strong>Ideas</strong>
            </li>
            <li>
                <div class="progress percent87"><span>87%</span></div>
                <strong>Player Analysis</strong>
            </li>
        </ul>
    </div>
</div>
<div class="row about-content about-content--buttons">
    <div class="col-six tab-full left">
        <a href="#blog" class="btn btn--primary full-width">Check Out The Posts</a>
    </div>
    <div class="col-six tab-full right">
        <a href="https://as.aezlo.com" class="btn full-width">check other stuff</a>
    </div>
</div>
<div class="row about-content about-content--timeline">
    <div class="col-full text-center">
        <h3>My Time: Football Fan.</h3>
    </div>
    <div class="col-six tab-full left">
        <div class="timeline">
            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <p class="timeline__timeframe">2010</p>
                    <h3>The Start</h3>
                </div>
                <div class="timeline__desc">
                    <p>It all started around 2010, was only around 5 at this point but yeah sky blue has been in my blood for a while. it was kinda around the time i started to speak crazily enough as well as my first steps into school. life could have turned out very different after all and i have no regrets on where my loyalties would lie.</p>
                </div>
            </div>
            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <p class="timeline__timeframe">2012</p>
                    <h3>First EPL</h3>
                </div>
                <div class="timeline__desc">
                    <p> 6-1. agueroooooooooooooooooo! overall, one of my favourite seasons....it was very much action packed and intriguing. the feeling of beating your rivals to your first ever newly formed league title is a high that will never ever be topped...especially when it's on goal difference.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-six tab-full right">
        <div class="timeline">
            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <p class="timeline__timeframe">2016</p>
                    <h3>the comeback</h3>
                    <h5>my comeback to watching football again.</h5>
                </div>
                <div class="timeline__desc">
                    <p>school, tennis, scrabble, wrestling (for a little bit)...all took over my life at that point but by 2016 - i was back and here to stay...also commencing with the new era of man city. It also was coincidently the start of the ensuing pep era that is still going on today nearly 6 years later.</p>
                </div>
            </div>
            <!-- end timeline__block -->
            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <p class="timeline__timeframe"> 2017- </p>
                    <h3>More Glory</h3>
                </div>
                <div class="timeline__desc">
                    <p>2017-18: Centurions, 100 pts, 102 goals (all records at the time)</p>
                    <p>2018-19: Fourmidables, 99 points, domestic 4: EPL, FA Cup, EFL Cup, Community Shield</p>
                    <p>2019-20: Minimal Silverware, Memorable UCL Nights, Despairing UCL Nights, Flawless Attack, Frenetic Defence, 106 Goals Scored (EPL Record)</p>
                    <p>2020-21: Champs Again, UCL Final, 86 points (a low), Ever closer to Elusive European Gold, Team UNity</p>
                    <p>2021-22: EPL Champions (6 Times), UCL Semis, Team Unity</p>
                    <p>2022-23: what shalt it bring?</p>
                </div>
            </div>
        </div>
    </div>
</div>