<meta charset="utf-8">
<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">
<meta name="author" content="{{ site.author }}">
                    
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- CSS ================================================== -->

<link rel="stylesheet" href="assets/css/base.css">
<link rel="stylesheet" href="assets/css/vendor.css">
<link rel="stylesheet" href="assets/css/main.css">

<!-- script ================================================== -->
<script src="assets/js/modernizr.js"></script>
<script src="assets/js/pace.min.js"></script>

<!-- favicons ================================================== 
<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
<link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
-->
